.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 90vh; */
    margin-bottom: 100px;
    margin-top: 100px;
}
.new-collection h1{
    color: #090909;
    font-size: 40px;
    font-weight: 600;
}
.new-collection hr{
    width: 250px;
    height: 6px;
    border-radius: 10px;
    background: #252525
}
.collections{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}