.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0px 140px;
    margin-bottom: 150px; 
    background: linear-gradient(180deg, #fe9385 0%, #e1ffea22 60%);
    gap: 20px;
}
.newsletter h1{
    color: black;
    font-size: 40px;
    font-weight: 600;
}
.newsletter p{
    color: #171717;
    font-size: 20px;
    /* font-weight: 600; */
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border-radius: 1px solid black;
}
.newsletter div input{
    width: 300px;
    margin-left: 30px;
    outline: none;
    font-size: 15px;
    height: 40px;
    /* border: none; */
    border-radius: 80px;
    border: 1px solid #fe9385;
    background: transparent;
    padding-left: 20px;
    width: 550px;
    font-family: 'Poppins', sans-serif;
}
.newsletter div button{
    width: 150px;
    height: 40px;
    margin-right: 30px;
    border-radius: 80px;
    border: none;
    background: #ff4141;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.newsletter div button:hover{
    border: 1px solid #fe9385;
    color: #f40808;
  background-color: #f5f5f8;
}