.shop-category {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.shopCategory-indexSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.shopCategory-indexSort p {
  font-size: 14px;
  color: #8c8a8a;
}

.shopCategory-indexSort p span {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.shopCategory-sort {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  color: black;
  border: 1px solid #ccc;
  padding: 4px 12px;
  border-radius: 6px;
  /* background-color: #0d0d0d; */
  transition: background-color 0.3s ease;
}

.shopCategory-sort:hover {
  background-color: #ececec;
  color: #0d0d0d;
}

.shopCategory-sort img {
  width: 12px;
  height: 10px;
}


.shopCategory-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 60px;
}

.shopCategory-loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: 1px solid #ccc;
  margin-left: 680px;
  width: 150px;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #f40808;
  transition: background-color 0.3s ease
}

.shopCategory-loadMore:hover {
  color: #f40808;
  background-color: #f5f5f8;
}