.descriptionbox{
    margin: 120px 170px;
}
.descriptionbox-navigator{
    display: flex;
}
.description-nav-box{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}
.description-nav-box:hover{
    border: 1px solid #fe9385;
}
.description-nav-box-fade{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}
.description-nav-box-fade:hover{
    border: 1px solid #fe9385;
}
.descriptionbox-description{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}