* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    border-radius: 90px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #fab3bb, -12px -12px 24px #f8929e;
    box-shadow: 12px 10px 24px #ff8e9b, -12px -12px 24px #fba3ad;
    border: none;
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_logo p {
    color: black;
    margin-top: 10px;
    font-weight: 500;
    font-size: 25px;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.nav_menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
}

.nav_login_cart {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav_menu hr {
    border: none;
    height: 2px;
    border-radius: 15px;
    margin-top: 2px;
    width: 60%;
    background: red;
}

.nav_login_cart button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 40px;
    width: 90px;
    line-height: 34px;
    font-size: 15px;
    color: #ffffff;
    background-color: #f51c35;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;

}

.nav_login_cart button:hover {

    border: 1px solid #fe9385;
    color: #f40808;
    background-color: #f5f5f8;

}

.nav_cart_count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -48px;
    border-radius: 11px;
    font-size: 14px;
    background-color: black;
    color: white;
}