.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* height: 90vh; */
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-logo p{
    color: black;
    margin-top: 30px;
    font-weight: 500;
    font-size: 25px;
}
.footer-logo img{
    width: 50px;
    height: 50px;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.footer-icons-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fe9385;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icons-container img{
    width: 20px;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    height: 2px;
    border-radius: 10px;
    background: #c7c7c7;
}
.footer-copyright p{
    color: #171717;
    font-size: 16px;
    font-weight: 500;   
}